/*****BASIC*****/
body {
 background: #eee;
}

#container {
  width: 920px;
  border: 1px solid #aaa;
  padding: 0 10px;
  background: #fff;
  color: #222;
  margin: 0 auto;
  font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.6em;
}

#main {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

#header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #aaa;
  margin: 10px 0 0 0;
  min-height: 100px;
}

#header img#logo {
  display: block;
  margin: 0 auto;
}

#header #rss {
  position: absolute;
  top: 0;
  right: 0;
  height: 14px;
  width: 14px;
}

#header p {
  margin: 0;
  padding: 0;
}

#site_name {
  padding-top: 15px;
  display: block;
  text-align: center;
  font-size: 5em;
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #555;
}

#site_slogan {
  margin: 5px auto;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  color: #555;
}

#content {
  float: left;
  width: 100%;
}

#content.admin {
  width: 750px;
  padding-top: 0;
}

/* left sidebar is enabled */
#content.left {
  width: 739px;
}

/* right sidebar is enabled */
#content.right {
  width: 750px;
}

/* both sidebars are enabled */
#content.both {
  width: 570px;
}

#mission {
  clear: both;
  margin: -3px auto 10px auto;
  padding: 6px 12px 6px 12px;
  background-color: #eee;
  color: #000;
}

#footer {
  clear: both;
  background-color: #eee;
  border-top: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

#footer p {
  color: #000;
  margin: 0;
}

#footer p#footer_message {
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #888;
}

a:link {
  color: #888;
}

a:hover {
  color: #000;
}

a:active {
  color: #888;
}

#block-user-1 a,
#block-user-1 a:link,
#block-user-1 a:visited {
  color: #555;
}

#block-user-1 a:hover {
  background-color: #555;
  color: white;
}

h1, h2 {
  color: #666666;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1.title {
  font-size: 3em;
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

h2 a {
  color: #666;
}

h2 a:link {
  color: #666;
}

h2 a:hover {
  color: #000;
}

h2 a:active {
  color: #666;
}

em.info {
  color: #555;
}

.node p {
  text-align: justify; 
}

li.expanded {
  list-style: none;
}

li.collapsed {
  list-style: none;
}

li.leaf {
  list-style: none;
}

li.pager-current {
  font-weight: normal;
}

.breadcrumb {
  text-align: left;
  color: #999999;
  padding: 0;
  margin-bottom: 5px;
}

.breadcrumb a:link, .breadcrumb a:visited {
	color: #999999;
	text-decoration: none;
}

.breadcrumb a:hover {
	color: #aaaaaa;
	text-decoration: none;
}

.status {
  background-color: #c7f2c8;
  border: 1px solid #61aa63;
}

.error, .warning {
  background-color: #fcc;
  border: 1px solid #d77;
}

.messages {
  margin-bottom: 10px;
  color: #300;
  padding: 2px;
}


#search {
  position: absolute;
  right: 0;
  bottom: 0;
}

#search .form-submit {
  padding: 1px 2px 1px 2px;
  margin: 2px 0 2px 0;
}

/* A little hacky */
.float_clear {
  clear: both;
}

/* Remove the dotted outline in Firefox */
.no_outline {
  outline: none;
}

/*****FRONT PAGE*****/
#content.front {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

#content.front.left {
  width: 739px;
}

#content.front.right {
  width: 455px;
}

#content.front.both {
  width: 370px;
}

#sidebar-left.front ul a {
  padding: 5px;
}

#sidebar-left.front .node h2.title, #sidebar-right.front .node h2.title {
  font-size: 1.5em;
  font-weight: 100;
}

/*
#sidebar-left.front .node a {
  width: 100%;
  max-width: 455px;
  border: 0;
  margin: 0;
  padding: 0;
}

#sidebar-left.front .node p {
  padding: 0;
}
*/

#sidebar-right.front {
  width: 455px;
  margin-left: 10px;
  float: left;
  padding: 0;
  border: 0;
}

#sidebar-right.front.both {
  width: 359px;
}

.front .node p {
  padding: 0;
}

.front .node {
  margin-top: 10px;
}

/*****SIDEBAR LEFT*****/
#sidebar-left {
  width: 160px;
  margin-right: 10px;
  float: left;
  padding: 0;
  padding-right: 10px;
  border: 0;
  border-right: 1px solid #bbb;
}

#sidebar-left ul {
  margin: 0;
  padding: 0;
  list-style-type: none;			
  width: 140px;
}

#sidebar-left li li a {
  margin: 0 0 0 15px;
  width: 125px;
}

#sidebar-left li li li a {
  margin: 0 0 0 30px;
  width: 110px;
}

#sidebar-left a {
  display: block;
  margin: 0;
  padding: 5px;
  width: 140px;
  border-bottom: 1px solid #CCC;
  text-transform: capitalize;
}

#sidebar-left p {
  padding: 5px;
}

/* I have no idea what this is about, but it was in the original
   burnt stylesheet, so I'm leavin it here */
div.dashboard-container1 {
  overflow: hidden;
}
div.dashboard-container2 {
  overflow: hidden;
}

div.dashboard-panel-head {
  background-color: #adadad;
  color: #FFFFFF;
  font-weight: bold;
}

/*****SIDEBAR RIGHT*****/
#sidebar-right {
  margin-left: 5px;
  padding: 5px;
  float: right;
  width: 149px;
  border: 1px solid #bbb;
  border-right: 0;
}

#sidebar-right div {
  margin-right: auto;
  margin-left: auto;
}

/*****BLOCKS*****/
#blocks_header {
  clear: both;
}

#blocks_header div {
  clear: both;
}

#blocks_header h2 {
  display: none;
}

#blocks_header #block-menu-primary-links ul, #blocks_header #block-menu-secondary-links ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#blocks_header #block-menu-primary-links ul li, #blocks_header #block-menu-secondary-links ul li {
  list-style-type: none;
  margin: 0;
  padding: 3px 10px;
  float: left;
}

#blocks_header #block-menu-primary-links ul li:hover, #blocks_header #block-menu-secondary-links ul li:hover {
  background-color: #eee;
}

#blocks_header ul #block-menu-primary-links li:hover a, #blocks_header ul #block-menu-secondary-links li:hover a {
  color: #000;
}

#blocks_footer {
  margin: 0 auto;
  background-color: transparent;
}

#blocks_footer div.block div.content p.link {
  padding: 0 5px;
  float: left;
  border-left: 1px solid #000;
}

#blocks_footer div.block:first-child div.content p.link {
  border: none;
}

/*****CALENDAR*****/
#sidebar-left .calendar a, .calendar a  {
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  width: inherit;
  border: none;
  text-transform: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #ccc;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #ddd;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}

/* note may not need */
.node.sticky h2 {
  font-family: Trebuchet MS, sans-serif;
  line-height: 1em;
}
